@import "vars";
@import "mixins";
@import "blocks/header.scss";
@import "blocks/page.scss";
@import "blocks/main.scss";
@import "blocks/product__breadcrumbs.scss";

@import "../vendors/reset.scss";

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("assets/fonts/Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.woff") format("woff"),
        url("montserratlight.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Medium"), local("Montserrat-Medium"),
        url("assets/fonts/Montserrat-Medium.woff") format("woff"), url("Montserrat-Medium.woff") format("woff"),
        url("Montserrat-Medium.woff") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
        url("assets/fonts/Montserrat-SemiBold.woff") format("woff"),
        url("/fonts/Montserrat-SemiBold.woff") format("woff"), url("/fonts/Montserrat-SemiBold.woff") format("truetype");
    font-weight: 600;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    font-size: 21px;
    // color: white;
}

.page {
    overflow: hidden;
    max-width: 1520px;
    margin: 0 auto;
}

@include breakpoint($nb-bp) {
    .wrapper {
        max-width: 1000px;
    }
    .page {
        max-width: 1080px;
    }
    .main {
        margin-top: 30px;
        background: #ffffff;
        padding: 46px 78px 20px 30px;
        border-radius: 10px;
    }
    .product__main {
        padding-bottom: 50px;
    }
    .product__nav {
        padding: 13px 0 0px 0;
    }
    .card__phone {
        display: flex;
        padding: 0;
        flex-wrap: wrap;

        &._left-card {
            margin: 0 0px 0 80px;
            .card__description {
                margin-left: 5px;
                margin-top: 15px;
            }
        }
    }
    .btn__card-sm {
        display: none;
    }
    .card__phone {
        &._right-card {
            margin: 0 0px 0 108px;
            .card__description {
                margin-left: 0px;
                margin-top: 15px;
            }
        }
    }
    .click__phone {
        padding-left: 19px;
    }
    .btn__card-sm {
        display: none;
    }
    .ico__card {
        top: 0;
        right: 0;
    }
    .bonus {
        padding: 44px 0 0;
    }
    .title-d {
        flex: 1 1 44.333%;
    }
    .row-item__bonus {
        display: flex;
        flex-grow: 1;
    }

    .sales {
        display: flex;
        padding-top: 39px;
    }
    .sales__title {
        flex: 1 1 44.333%;
    }

    .availability {
        padding-top: 42px;
    }
    .availability__title {
        flex: 1 1 44.333%;
    }

    .basis__main {
        padding-top: 42px;
    }
    .basis,
    .processor,
    .monitor,
    .memory,
    .power,
    .connection {
        flex: 1 1 44.333%;
    }
    .camera {
        flex: 1 1 50.333%;
    }
    .camera__feature:nth-child(3) {
        flex: 1 1 38%;
        margin-right: 0;
    }
    .camera__feature {
        margin-right: 12%;
    }
    .camera__feature__row {
        padding-top: 33px;
    }

    .processor__main {
        padding-top: 43px;
    }
    .monitor {
        padding-top: 47px;
    }

    .camera__feature__row:nth-child(1) {
        padding-top: 94px;
    }
    .camera__col.mt-10 {
        padding-top: 99px;
    }

    .model {
        padding-top: 41px;
    }
    .model__center {
        margin-left: 0px;
    }
    .arrow__top {
        display: none;
    }
    .card__btn-sm {
        display: none;
    }
}
@include breakpoint($old-bp) {
    .page {
        max-width: 1024px;
    }
    .wrapper {
        max-width: 849px;
    }
    .main {
        margin-top: 30px;
        background: #ffffff;
        padding: 46px 30px 20px 30px;
        border-radius: 10px;
    }
    .product__nav {
        padding: 13px 0 0px 0;
    }
    .card__phone {
        display: flex;

        flex-wrap: wrap;
    }
    .card__btn {
        display: flex;
        flex-wrap: wrap;
    }
    .btn__card {
        order: 2;
        margin-top: 8px;
    }
    .click__phone {
        padding-left: 0px;
    }
    .camera {
        flex: 1 1 40.333%;
        margin-right: 57px;
    }
    .camera__feature {
        margin-right: 11.3%;
    }
    .camera__feature:nth-child(3) {
        -ms-flex: 1 1 38%;
        flex: 1 1 38%;
        margin-right: 0;
    }
    .title__model__center {
        padding: 0px 27px 0px;
    }
    .btn__card-sm {
        display: none;
    }
    .btn__group {
        margin-top: -64px;
    }
    .arrow__top {
        display: none;
    }
    .card__btn-sm {
        display: none;
    }
}
@include breakpoint($tablet-bp) {
    .page {
        max-width: 768px;
    }
    .wrapper {
        max-width: 650px;
    }
    .main {
        margin-top: 30px;
        background: #ffffff;
        padding: 46px 27px 20px 27px;
        border-radius: 10px;
    }
    .arrow__top {
        display: none;
    }
    .availability__row:nth-child(3) {
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex: 1 1 38.2%;
        margin-right: 8%;
    }
    .availability__row {
        display: flex;
        flex: 1 1 34%;
        margin-right: 0;
    }
    .product__nav {
        padding: 13px 0 0px 0;
    }
    .product__item {
        padding: 9px;
    }
    .ico__product {
        padding-left: 50px;
    }
    .card__phone._left-card {
        margin: 0 0px 0 52px;
    }
    .card__phone._right-card {
        margin: 0px 0px 0 44px;
    }
    .product__top {
        max-width: 188px;
    }
    .camera__main._camera {
        margin-top: 50px;
    }
    .camera {
        flex: 1 1 34.333%;
        margin-right: 30px;
        padding-top: 0px;
        justify-content: start;
    }
    .camera__col.mt-10 {
        padding-top: 111px;
    }
    .camera__feature {
        margin-right: 73.9px;
        margin-top: 57px;
        margin-left: 37px;

        justify-content: start;
    }
    .camera__feature__row {
        padding-top: 41px;
    }
    .camera__feature__row.pt-31 {
        padding-top: 31px;
    }
    .camera__feature__row.pt-50 {
        padding-top: 44px;
    }
    .camera__feature:nth-child(3) {
        flex: 1 1 38%;
        margin-right: 0;
        margin-top: 57px;
    }
    .camera__feature__row:nth-child(1) {
        padding-top: 0px;
    }
    .camera__feature__row__item {
        padding-top: 31px;
    }
    .camera__feature__row__diod {
        padding-top: 44px;
    }
    .arrow__top__link {
        display: none;
    }
    .card__btn-sm {
        display: none;
    }
}
@include breakpoint($mobile-bp) {
    .arrow__top__link,
    .arrow__top__basis__link,
    .arrow__top__processor__link,
    .arrow__top__monitor__link,
    .arrow__top__camera__link,
    .arrow__top__memory__link,
    .arrow__top__power__link,
    .arrow__top__connection__link {
        display: inline;
    }
    .page {
        max-width: 320px;
    }
    .wrapper {
        max-width: 100%;
    }
    .main {
        margin-top: 0px;
        background: #ffffff;
        padding: 46px 20px 20px 20px;
        border-radius: 10px;
    }
    .nav__breadcrumbs {
        text-align: center;
    }
    .product__nav {
        padding: 13px 0 0px 0;
    }
    .product__item {
        padding: 9px;
    }
    .ico__product {
        padding-left: 144px;
    }
    .product__main {
        flex-wrap: wrap;
        padding-bottom: 34px;
        border-bottom: 1px solid #e5e5e5;
    }
    .product__top {
        max-width: 100%;
        padding: 0 0 30px 0;
    }
    .card__price {
        display: flex;
        flex-wrap: wrap;
    }
    .card__old__price {
        padding-top: 3px;
        padding-left: 0;
    }
    ._right-card {
        &.card__title {
            padding-bottom: 13px;
        }
        &.img__card {
            height: 131.633px;
        }
    }
    .card__phone {
        width: 130px;
    }
    .card__phone._left-card {
        margin-left: 0;
    }
    .card__phone._right-card {
        margin-left: 0;
    }
    .card__img {
        width: 107px;
        height: 131.067px;
    }
    .card__phone._right-card .card__description {
        width: 125px;
    }
    .card__name {
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px;

        text-align: left;
    }
    .card__price {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;

        text-align: left;
    }

    .card__btn {
        display: none;
    }
    .btn__card-sm {
        height: 32px;
        width: 53px;
        border-radius: 10px;
        background: black;
        border: none;
        display: block;
    }
    .ico-card {
        padding: 5px;
    }
    .bonus {
        padding: 24px 0;
        flex-wrap: wrap;
        border-bottom: 1px solid #e5e5e5;
    }
    .title-d {
        display: flex;
        padding-bottom: 10px;
        flex: 1 1 53.333%;
    }
    .ico__bonus {
        padding-left: 8px;
    }
    .title__bonus {
        width: 130px;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px;
    }
    .arrow__top {
        display: block;

        margin-left: 13px;
        margin-top: 4px;
    }
    .row-item__bonus._left {
        flex: 0 0 130px;
        margin-right: 12px;
    }
    .bonus__border {
        width: 130px;
    }
    .amount {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
    }
    .sales,
    .availability {
        flex-wrap: wrap;
        padding-top: 24px;
        justify-content: flex-start;
        align-items: baseline;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 35px;
    }
    .sales__title {
        flex-wrap: wrap;

        max-width: 171px;
        padding-bottom: 11px;
    }
    .availability__title {
        flex-wrap: wrap;
        max-width: 80px;
        padding-bottom: 11px;
    }
    .availability__row {
        display: flex;
        flex: 1 1 20%;
        margin-right: 8%;
    }
    .availability__row:nth-child(3) {
        flex: 1 1 20%;
        margin-right: 0;
        min-width: 177px;
    }
    .basis__main,
    .processor__main,
    .monitor__main,
    .camera__main,
    .memory__main,
    .power__main,
    .connection__main {
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
    }
    .connection__main {
        border-bottom: none;
    }
    .arrow__top__basis,
    .arrow__top__processor {
        position: absolute;
        width: 11;
        left: 93px;
        height: 7px;
        top: 47px;
    }

    .basis,
    .processor,
    .memory,
    .power,
    .connection {
        flex: 1 1 40.333%;
        margin-right: 4%;
    }
    .monitor {
        flex: 1 1 29.333%;
        margin-right: 8%;
    }
    .monitor__feature {
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex: 1 1 35.2%;
        margin-right: 6%;
    }
    .monitor__feature:nth-child(3) {
        flex: 1 1 34%;
        margin-right: 0;
    }
    .arrow__top__monitor {
        position: absolute;
        width: 11;
        left: 93px;
        height: 7px;
        top: 53px;
    }
    .arrow__top__camera {
        position: absolute;
        left: 93px;
        height: 7px;
        top: 6px;
    }
    .basis__feature,
    .processor__feature,
    .camera__feature,
    .memory__feature,
    .power__feature,
    .connection__feature {
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex: 1 1 38.2%;
        margin-right: 1%;
    }

    .sales__title,
    .availability__title,
    .basis__title,
    .processor__title,
    .monitor__title,
    .camera__title,
    .memory__title,
    .power__title,
    .connection__title {
        flex: 1 1 68.333%;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px;
    }
    .basis__item,
    .processor__item,
    .monitor__item,
    .camera__item,
    .memory__item,
    .power__item,
    .connection__item {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
    }

    .sales__item,
    .availability__item,
    .basis__feature__item,
    .processor__feature__item,
    .monitor__feature__item,
    .camera__feature__item,
    .memory__feature__item,
    .power__feature__item,
    .connection__feature__item {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
    }

    .basis__feature,
    .basis__feature._two-column {
        &.basis__feature__row:nth-child(2) {
            padding-top: 41px;
        }
    }
    .camera {
        flex: 1 1 34.333%;
        margin-right: 0px;
        padding-top: 0px;
        justify-content: start;
    }
    .camera__feature {
        margin-top: 57px;
        margin-left: 18px;
    }
    .camera__feature:nth-child(3) {
        flex: 1 1 38%;
        margin-right: 0;
        margin-left: 14px;
        margin-top: 57px;
    }
    .camera__col.mt-10 {
        padding-top: 107px;
    }
    .arrow__top__memory {
        position: absolute;
        left: 93px;
        height: 7px;
        top: 50px;
    }
    .arrow__top__power {
        position: absolute;
        left: 93px;
        height: 7px;
        top: 50px;
    }
    .arrow__top__connection {
        position: absolute;
        left: 121px;
        height: 7px;
        top: 51px;
    }
    .model__center {
        padding-top: 0;
    }
    .title__model__center {
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
    }
    .btn__group {
        flex-wrap: wrap;
        margin-top: 0px;
        justify-content: center;
        margin-right: 0;
    }
    .btn__clean {
        margin-right: 0;
    }
    .arrow__top {
        height: 7px;
    }
}
